// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background-color: #523B52;
}

h1 {
  color: white;
  font-family: 'Open Sans', sans-serif;
}

h2 {
  color: white;
}
